.idea/
customjar/
out/

input/day_1.txt
input/day_2.txt
input/day_3.txt
input/day_4.txt
input/day_5.txt
input/day_6.txt
input/day_7.txt
input/day_8.txt
input/day_9.txt
input/day_10.txt
input/day_11.txt
input/day_12.txt
input/day_13.txt
input/day_14.txt
input/day_15.txt
input/day_16.txt
input/day_17.txt
input/day_18.txt
input/day_19.txt
input/day_20.txt
input/day_21.txt
input/day_22.txt
input/day_23.txt
input/day_24.txt
input/day_25.txt
